# Maven build files
target/

# Eclipse/VS Code project files
.classpath
.project
.settings
.factorypath
.vscode/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Intellij plugin files
atlassian-ide-plugin.xml

# Filesystem Files
*.DS_Store
*.log

# Onegini
src/main/ops/tmp/

# Gulp and Node
custom-yamls/
node_modules/
config.json

